/* common */
html{
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* layout */
.banner{
    height:250px;
    margin-bottom:50px;
    overflow: hidden;
}
.container{
    width:1200px;
    margin:0 auto;
}
.container>h2{
    
    font-size: 30px;
    font-weight: bold;
    background:url("../img/sub_tit_line.gif") repeat-x 0 50%;
    margin-bottom:100px;
}
.container>h2>span{
    /* border:1px solid red; */
    background:white;
    padding-right:18px;
}
.container>h3{
    font-size: 52px;
    
    font-family: "풀무원체";
    text-align: center;
    padding:0 70px;
    margin-bottom:50px;
}
.container>h3>span{
    color:#7EAE4B;
}

@font-face {
    font-family: "풀무원체";
    src: url("../font/PulmuoneLOHASBold.woff");
}

.container section{
    width:810px;
    padding:40px 90px 50px;
    background:blue;
    margin:0 auto;
    box-sizing: border-box;
    background:#F4F4F4;
    text-align:center;
}
.container>section>h4{
    font-family: "풀무원체";
    font-size: 35px;
    margin-bottom:25px;
}
.container>section>h4+p{
    margin-bottom:30px;
}
