*{margin:0;padding:0;}
ul,ol{list-style:none;}

.intro{
    width:100%;
    height:100vh;
    overflow: hidden;
    position:relative;
}
.mainVideo{
    width:100%;
    height:100%;
    object-fit: cover;
}
.floatingTxt{
    border:1px solid #fff;
    position:absolute;
    left:calc(50%);
    top:calc(50%);
    transform:translate(-50%,-50%);
    z-index: 1;
    padding:20px;
    color:#fff;
    text-transform: uppercase;
}
.floatingTxt h1{
    /* font-size:5rem;
    line-height: 100%; */
}
.floatingTxt p{
    border-top:1px solid #fff;
    text-align: center;
    letter-spacing: 10px;
    margin-top:30px;
    padding-top:20px;
}
.floatingTxt p img{
    height:50px;
}

.intro:after{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:black;
    opacity: 0.2;
}


.floatingTxt h1{
    /* font-size:0; */
    perspective:300px;
    /* animation:introAni 1s ease 5s; */
}
.floatingTxt h1 b{
    /* opacity: 0;
    font-size:5rem;
    line-height: 5rem;
    display:inline-block; */
}
@keyframes introAni {
    0%{
        opacity: 0;
        transform:translateX(-10px)translateY(-10px)rotateY(45deg);
    }
    100%{
        opacity: 1;
        transform:translateX(0px)translateY(0)rotateY(0deg);
    }
}
/* .floatingTxt h1 b:nth-of-type(1){animation:introAni 1s ease 0s forwards;}
.floatingTxt h1 b:nth-of-type(2){animation:introAni 1s ease 0.25s forwards;}
.floatingTxt h1 b:nth-of-type(3){animation:introAni 1s ease 0.5s forwards;}
.floatingTxt h1 b:nth-of-type(4){animation:introAni 1s ease 0.75s forwards; }
.floatingTxt h1 b:nth-of-type(5){animation:introAni 1s ease 1s forwards;}
.floatingTxt h1 b:nth-of-type(6){animation:introAni 1s ease 1.25s forwards;}
.floatingTxt h1 b:nth-of-type(7){animation:introAni 1s ease 1.5s forwards;}
.floatingTxt h1 b:nth-of-type(8){animation:introAni 1s ease 1.75s forwards;}
.floatingTxt h1 b:nth-of-type(9){animation:introAni 1s ease 2s forwards;}
.floatingTxt h1 b:nth-of-type(10){animation:introAni 1s ease 2.25s forwards;}
.floatingTxt h1 b:nth-of-type(11){animation:introAni 1s ease 2.5s forwards;}
.floatingTxt h1 b:nth-of-type(12){animation:introAni 1s ease 2.75s forwards;}
.floatingTxt h1 b:nth-of-type(13){animation:introAni 1s ease 3s forwards;}
.floatingTxt h1 b:nth-of-type(14){animation:introAni 1s ease 3.25s forwards;} */

.con{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
