*{margin:0;padding:0;}
a{text-decoration: none;color:inheirt;}
img{max-width:100%;}

html{
    font-family: 'Playfair Display', serif; 
}
/* font-family: 'Playfair Display', serif; */

.intro{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.txtbox {
    font-size: 8rem;
    text-transform: uppercase;
    line-height: 0.8;
}
.txtbox>p{
    font-size:0.3em;
    font-style: italic;
    text-transform: capitalize;
}

.fixedEffect{
    height:8000px;
    border:5px solid red;
}
.station{
    width:100%;
    height:800px;
    border:4px solid blue;
    overflow: hidden;
}
.title{
    height:100px;
    font-size:2.5em;
    line-height: 100px;
    text-align: center;
    text-transform: capitalize;
}
.train{
    width:400%;
    height:700px;
    display:flex;
    transition:all 1s ease 0s;
}
.train>li{
    flex:1;
    /* border:1px solid green; */
    position:relative;
}
.train>li img{
    width:100%;
    height:100%;
    object-fit: contain;
}
.train>li .txt{
    /* border:1px solid red; */
    position:absolute;
    width:40%;
    left:50px;
    bottom:50px;
    font-size:2rem;
}
.train>li .txt>*{
    margin:1em 0;
}

.contents{
    width:1200px;
    margin:0 auto;
}
.contents *{
    margin:10px 0;
}
html{
    cursor: none;
}
.cursor{
    z-index: 100;
    position:fixed;
    left:0;
    top:0;
    width:15px;
    height:15px;
    border:3px solid black;
    border-right:none;
    border-bottom:none;
    opacity: 0;
    transition:opacity 0.5s ease 0s;
    pointer-events: none;
}
.cursor.on{
    opacity: 1;
}
.cursorSub{
    z-index: 100;
    position:fixed;
    left:0;
    top:0;
    border:1px solid black;
    width:50px;
    height:50px;
    opacity: 0;
    pointer-events: none;
    transition:all 0.5s ease 0s;
}
.curSubbox > div:nth-of-type(1){transition:all 0.5s ease 0s;transform:scale(1);}
.curSubbox > div:nth-of-type(2){transition:all 0.5s ease 0.1s;transform:scale(0.9);}
.curSubbox > div:nth-of-type(3){transition:all 0.5s ease 0.2s;transform:scale(0.8);}
.curSubbox > div:nth-of-type(4){transition:all 0.5s ease 0.3s;transform:scale(0.7);}
.curSubbox > div:nth-of-type(5){transition:all 0.5s ease 0.4s;transform:scale(0.6);}
.curSubbox.on > div{
    transform:scale(1);
    width:10px;
    height:10px;
}

.cursorSub.on{
    opacity: 1;
}

.curTxt{
    position:fixed;
    left:0;
    top:0;
    width:100px;
    z-index: 100;
    display:none;
    text-transform: uppercase;
}
.curTxt.on{
    display:block;
}