*{margin:0;padding:0;}

/* layout */
.mainBanner{
    height:100vh;
    position:relative;
}
.mainBanner video{
    width:100%;
    height:100%;
    object-fit: cover;
}
.mainBanner > h2{
    position:absolute;
    border:1px solid lime;
    left:calc(50% - 120px);
    top:calc(50% - 60px);

    /* left:50%;
    top:50%;
    margin-left:-120px;
    margin-top:-60px; */

    /* text-align: center;
    line-height: 120px; */

    display:flex;
    justify-content: center;
    align-items: center;

    font-size:5rem;
    color:#fff;
    width:240px;
    height:120px;
    z-index: 10;

}
.mainBanner:after{
    content:"";
    position:absolute;
    left:0;top:0;
    width:100%;height:100%;
    background:black;
    opacity:0.3;
}