.myfont1{font-family: myfont1;} 
.myfont2{font-family:"땅쓰라이트";}
.myfont3{font-family:"DDANG BOLD";}
.myfont4{font-family: 'NeoDunggeunmoPro-Regular';}
.myfont5{font-family: 'KimjungchulMyungjo-Bold';}