table{
    border-collapse: collapse;
}
.gradeStyle{
    width:500px;
    margin:0 auto;
}
.gradeStyle caption{font-size:2rem;font-weight:bold;}
.gradeStyle th{border:1px solid #000;padding:5px 0;border-left: none;}
.gradeStyle td{border:1px solid #000;padding:5px 0;text-align: center;
border-right:none;}
.gradeStyle tr:last-of-type>th{
    background:#000;
    color:#fff;
}
.gradeStyle tr:last-of-type>td{
    background:#000;
    color:#fff;
}