*{margin:0;padding:0;}
ul{list-style: none;}

.conList{
    display: flex;
    width:1440px;
    height:500px;
    border:1px solid red;
    margin:0 auto;
}
.conList>li{
    flex:1;
    position: relative;
    overflow: hidden;
}
.conList>li>img{
    width:100%;
    height:100%;
    object-fit: cover;
    filter: grayscale(1)brightness(0.7);
    transition: all 0.6s ease 0s;
}
.conList>li:hover img{
    filter: grayscale(0)brightness(1);
    transform:scale(1.2);
}
.box{
    color:#fff;
    position:absolute;
    left:50%;
    top:70%;
    transform:translateX(-50%);
    text-align: center;
}
.box>h3{
    font-size:2rem;
    margin-bottom:10px;
    transition:all 0.5s ease 0s;
}
.conList>li:hover h3{
    transform:translateY(-30px);
}
.box>p{
    padding-top:20px;
    position:relative;
    transition:all 0.5s ease 0s;
    opacity: 0;
}
.conList>li:hover p{
    opacity: 1;
}

.box>p:after{
    content:"";
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top:0;
    width:30px;
    height:1px;
    background:#fff;
}
