*{margin:0;padding:0;}
.tabMenu{
    border:1px solid red;
    width:400px;
    margin:0 auto;
    height:200px;
    display:flex;
    position: relative;
}
.tabMenu > dt{
    border:1px solid black;
    height:50px;
    width:120px;
    cursor: pointer;
}
.tabMenu > dt.on{
    background:#000;
    color:#fff;
}
.tabMenu > dd{
    border:1px solid black;
    position:absolute;
    left:0;
    top:50px;
    width:100%;
    display:none;
}
.tabMenu > dt.on + dd{
    display:block;
}