*{margin:0;padding:0;}
.box{
    border:1px solid red;
    width:300px;
    height:300px;
    /* transition-property:width,height;
    transition-duration:2s,1s;
    transition-timing-function: ease,linear;
    transition-delay: 0s,2s; */

    /* transition:width 2s ease 10s; */

    /* transition:
    width 1s cubic-bezier(1,-0.21, 0.15, 1.36) 0s,
    height 1s linear 1s,
    background 1s cubic-bezier(1,-0.21, 0.15, 1.36) 2s,
    border-radius 0.5s ease 3s; */
    transition:all 0.5s ease 0s;
}
.box:hover{
    width:500px;
    height:500px;
    /* height:500px;
    background:gold;
    border-radius:50%; */
}

.menu{
    border:1px solid red;
    width:600px;
    height:100px;
    display:flex;
    list-style: none;;
}
.menu>li{
    flex:1;
    border:1px solid black;
    text-align: center;
    transition:all 0.5s ease 0s;
    line-height: 100px;
}
.menu>li:hover{
    background:#000;
    color:#fff;
    flex:2;
}